.about-home span {
  font-weight: 500;
  display: block;
  color: #222;
  font-size: 16px;
}
.about-home img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}
.about-home-cta {
  color: #222;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}
.about-home-cta:hover {
  color: #b00020;
}

@media (min-width: 1200px) {
  .about-home {
    display: flex;
    justify-content: space-evenly;
  }

  .about-home img {
    width: 500px;
    position: relative;
    right: 80px;
  }
}
