.about-home span {
  font-weight: 500;
  display: block;
  color: #222;
  font-size: 16px;
}
.about-home img {
  width: 100%;
}
.about-home h2,
.about-home p {
  padding: 0 4%;
}

.about-home-cta {
  color: #222;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  padding: 0 4%;
}
.about-home-cta:hover {
  color: #b00020;
}

@media (min-width: 1200px) {
  .about-home {
    display: flex;
    justify-content: space-evenly;
  }

  .about-home img {
    width: 500px;
    position: relative;
    right: 80px;
  }
}
