.cookie-banner {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  bottom: 0px;
  position: fixed;
  display: block;
  font-size: 12pt;
  margin: 0 auto;
  padding: 13px 10px;

  text-align: center;
  box-sizing: border-box;
  width: 100%;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;

  left: 0px;
  font-weight: 300;
}
#cookie-action-accept {
  display: inline-block;
  margin: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 9px 14px;
  border: none
}
#cookie-action-reject {
  margin: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 9px 14px;
  border: none
}
#policy {
  display: inline-block;
  margin: 5px;
  color: rgb(68, 68, 68);
  font-weight: 550;
}
